.moto{
    margin: auto 0;
}

.packages> h2{
    text-align: center;
    margin-bottom: 50px;
}

.card-body > p > img{
    margin-right: 5px;
}
.card-body > a{
    text-align: center;
}
.card{
    border: none;
}
.card-button{
    background-color: lightblue;
    color: #3F87F5;
    border-radius: 20px;
    border: none;
    padding: 10px 50px;
    font-weight: 500;
    margin-top:10px;
}

@media screen and (max-width:576px) {
    .moto-image{
        margin-top: 50px;
        order: 2;
    }
    .moto{
        text-align: center;
        order: 1;
    }

}